body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  img {

    width: 400px;
    height: 220px;
    border: 40px;
    border: 3px solid black;

  }

  h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  h2{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  h3{
    font-style: normal;
	font-weight: normal;
	font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }


  p{
    font-style: normal;
	font-weight: normal;
	font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  a{
    font-style: normal;
	font-weight: normal;
	font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }